* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.navbar_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #d3d3d3;
  gap: 20px;
  padding: 0 20px;
}
.navbar_container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar_text {
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.user_screen_wrapper {
  padding: 15px 20px;
}
.loading_text {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}
.name {
  font-size: 14px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
  width: 200px;
  background-color: #9db2bf;
  color: #ffffff;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
}
.error {
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.button {
  width: 100px;
  height: 40px;
  background-color: #d3d3d3;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 10px;
  margin-top: 10px;
}

.user_details_wrapper {
  padding: 20px;
}
.user_details_heading {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #000000;
}
.user_details_heading_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.user_details_list_wrapper {
  margin-top: 20px;
}
.user_details_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}
.user_details_list_heading {
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.user_details_list_item {
  font-family: 14px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.color_list_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.color {
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.home_screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  font-size: 24px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.create_user_screen {
  padding: 20px;
}

.input_wrapper input {
  width: 200px;
  height: 30px;
}
.create_user_button{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100px;
  height: 35px;
  margin-top: 20px;
  background-color: #000000;
  border-radius: 8px;
  color: #ffffff;
}
